.input-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.todo-input {
  flex: 1;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty-message {
  text-align: center;
  color: green;
  font-weight: 500;
  margin-top: 1rem;
}
